/* CDB.css */
aside {
grid-area: a;
padding: 10px;
}


aside img {
max-width: 100%;
border-radius: 10px;
}


main {
grid-area: m;
padding: 10px;
}


p {
color: #775C44;
font-size: 24px;
}


section {
grid-area: s;
padding: 10px;
}


table {
width: 100%;
border-collapse: collapse;
text-align: center;
}


th {
background-color: #4d2222;
color: white;
font-size: 22px;
}


td {
background-color: #371818;
color: white;
font-size: 20px;
}


th, td {
border: 2px solid black;
padding: 8px;
}


@media screen and (max-width: 700px) {
.container {
grid-template-columns: 1fr;
grid-template-areas:
"h"
"n"
"a"
"m"
"s";
}
}