*{
    max-width:  1000px;
    @font-face 
    font-family: 'Italianno';
    src: url(font/Italianno-Regular.ttf);
}

img{
    max-width: 350px;
}
header{
    background-color: rgba(93, 76, 76, 1);
    color: white;
    padding: 8px;
    padding-top:  16px;
    margin: auto;
    border: 16px;
    width: 1920px;
    height: 100px;
    text-align: center;
}
nav{
    background-color: rgba(55, 24, 24, 1);
    color: white;
    padding: 8px;
    padding-top:  16px;
    text-align: center;
    border: 16px;
    width: 1920px;
    height: 100px;
    margin: auto;
}
nav a{
    text-decoration: none;
    background-color: #775C44;
    width: 328px;
    height: 75px;
    border-radius: 149px;
    padding: 8px;
    gap: 70px;
    border: 16px;
}
body{
    background-color: #241919;
}
p{
    color: #775C44;
}
table{
    color: #818181;
    margin: auto;
    border-spacing: 0px;
}
th{
    background-color: #371818;
}
tr th, td{
    border: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    color: #818181;
}
