*{
    max-width: 1920px;
}

@font-face {
    font-family: 'Italianno';
    src: url(font/Italianno-Regular.ttf);
}
h1{
    text-align: center;
}
header{
    font-family: 'Italianno';
    background-color: rgba(93, 76, 76);
    color: rgb(228, 223, 223);  
    width: 100%;       
    margin: 0;        
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
}
body {
    margin: 0;         
    padding: 0;
}

nav a{
    text-decoration: none;
    color: white;
    border: rgba(119, 92, 68);
    padding: 20px;
    background-color: rgba(119, 92, 68);
    border-radius: 50px;
    font-size: 50px;
    gap: 10px;
    text-align:calc();
}